@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* overflow: hidden; */
    background-image: url(/assets/svg2.png);
    font-family: League Gothic;
    font-size: larger;
}

h1 {
    font-size:50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

#card-container {
    margin-left: 13%;
    padding-right: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    flex-wrap: nowrap;
    overflow: scroll;
}

.cards {
    margin: 2%;
    width: 310px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #fff;
    text-shadow: 1.5px 1px 2.5px black;
}

.cards:hover {
    cursor: pointer;
    height: 380px;
    text-transform: uppercase;
}

.cards p {
    font-size: 28px;
    display: flex;
    width: 90%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.cards img {
    width: 300px;
    height: 180px;
    border-radius: 10px;
}

.cards  h2 {
font-size: 35px;
}
.cards  h3 {
font-size: 35px;
}

form {
    margin-top: 10px;
    display: flex;
}

#name {
    border: none;
    border-radius: 40px;
    width: 250px;
    height: 60px;
    margin: 1%;
    text-align: center;
    font-size: larger;
    
}

.button {
    cursor: pointer;
    width: 130px;
    height: 60px;
    border: none;
    border-radius: 40px;
    margin: 1%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: larger;
}

.button:hover {
    background: white;
    color: #AA0808;
}

footer {
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    text-shadow: none;
    color: #fff;
    font-size: larger;
}

footer a:hover {
    text-shadow: 1.5px 1px 2.5px black;
}

.error {
    padding: 1rem;
    border: 2px solid red;
    background-color: rgb(249, 121, 121);
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-weight: lighter;
}

@media (min-width:768px) {
    #card-container {
        margin: 0;
        padding: 0;
        width: 100vw;
        max-height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        flex-wrap: wrap;
        overflow: auto;
    }

    .cards {
        margin: 0.6%;
        width: 210px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        color: #fff;
    
    }

    .cards img {
        width: 190px;
        height: 120px;
        border-radius: 10px;
    }

    #name {
        height: 40px;
    }

    .button {
        height: 40px;
    }

}
